@import 'styles/mixins.scss';
@import 'styles/screens.scss';

.movie-card {
  @include school;

  position: relative;
  z-index: 1;
  color: #eee5b5;
  padding-bottom: 78px;
  background: #e1b0b2;
}
.movie-card--full {
  padding-bottom: 45px;
  min-height: 100vh;
}

.movie-card__hero {
  position: relative;
  z-index: 1;
  min-height: 555px;
  padding-bottom: 210px;
}

.movie-card__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.movie-card__bg::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.movie-card__bg img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  /* stylelint-disable */
  font-family: 'object-fit:cover;object-position:center top';
  /* stylelint-enable */
  object-fit: cover;
  object-position: center top;
}

.movie-card__head {
  margin-bottom: 40px;
}

.movie-card__wrap {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.movie-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}

.movie-card__poster {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  width: 218px;
  height: 327px;
  margin-right: 40px;
  flex-shrink: 0;
}

.movie-card__poster--big {
  width: 273px;
  height: 410px;
}

.movie-card__poster--small {
  width: 132px;
  height: 198px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(40px);
}

.movie-card__poster img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  /* stylelint-disable */
  font-family: 'object-fit:cover';
  /* stylelint-enable */
  object-fit: cover;
}

.movie-card__desc {
  flex-grow: 1;
}

.movie-card__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  margin: 0 0 7px;
}

.movie-card__meta {
  margin: 0 0 20px;
  display: flex;
  font-size: 20px;
  line-height: 20px;
}

.movie-card__genre::after {
  content: '·';
  margin-left: 4px;
  margin-right: 4px;
}

.movie-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-card__button {
  margin-right: 14px;
}
.movie-card__button:last-child {
  margin-right: 0;
}

.movie-card__translate-top {
  margin-top: -170px;
  position: relative;
  z-index: 2;
}

.movie-card__nav {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-card__text {
  color: #252525;
  width: 635px;
  font-size: 19px;
  line-height: 27px;
}

.movie-card__director {
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.movie-card__starring {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.movie-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}

.movie-card__text-col {
  width: 155px;
  margin-right: 35px;
}
.movie-card__text-col:last-child {
  margin-right: 0;
}

.movie-card__details-item {
  font-size: 19px;
  line-height: 30px;
}

.movie-card__details-name {
  display: block;
  color: #252525;
  font-weight: bold;
}

.movie-card__details-value {
  color: #131313;
}

.movie-card__reviews {
  padding-top: 20px;
}

.movie-card__reviews-col {
  width: calc((100% - 60px) / 2);
  margin-right: 60px;
  max-width: 380px;
}
.movie-card__reviews-col:last-child {
  margin-right: 0;
}

.movie-card__header {
  position: relative;
}

@media (max-width: $mobile-width) {
  .movie-card__info {
    justify-content: space-between;
  }

  .movie-card__poster {
    margin-right: 0;
  }

  .movie-card__desc {
    flex-grow: unset;
    width: 55%;
  }
}

@media (max-width: $small-mobile-width) {
  .movie-card {
    padding-bottom: 30px;
  }

  .movie-card__head {
    margin-bottom: 0;
  }

  .movie-card__info {
    flex-direction: column;
    align-items: center;
  }

  .movie-card__poster {
    width: 180px;
    height: 270px;
    margin-bottom: 25px;
  }

  .movie-card__desc {
    width: 100%;
    text-align: center;
  }

  .movie-card__title {
    font-size: 30px;
  }

  .movie-card__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
  }

  .movie-card__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .movie-card__button {
    margin-right: 0;
  }
}
