.logo__link {
  // border: 1px solid rgba(223, 207, 119, 0.36);
  // border-radius: 8px;
  width: 115px;
  height: 54px;
  color: var(--titleColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
}
.logo__link[href]:hover,
.logo__link[href]:focus {
  border-color: rgba(84, 80, 62, 0.36);
  color: #54503e;
}
.logo__link--light {
  border: 1px solid rgba(84, 80, 62, 0.36);
  margin: 0 auto 24px;
  color: #54503e;
}
.logo__link--light[href]:hover,
.logo__link--light[href]:focus {
  border-color: rgba(223, 207, 119, 0.36);
  color: #d9cd8d;
}

.logo__picture {
  fill: var(--titleColor);
  width: 50px;
  height: 50px;
  transition: all 0.25s ease-in;

  &:hover[href] {
    fill: var(--titleHoverColor);
  }
}
