@import 'styles/screens.scss';
@import 'styles/mixins.scss';

.catalog {
  margin-bottom: 115px;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.catalog--like-this {
  padding-top: 30px;
  margin-bottom: 160px;
}

.catalog__title {
  margin: 0 0 12px;
  font-size: 22px;
  line-height: 26px;
  color: #dfcf77;
  font-weight: 400;
}

.catalog__genres-list {
  padding: 25px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__genres-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog__genres-item--active .catalog__genres-link {
  font-weight: bold;
}

.catalog__genres-item--active .catalog__genres-link::after {
  display: block;
}

.catalog__genres-item:last-child {
  margin-right: 0;
}

/* stylelint-disable */
.catalog__genres-link {
  display: block;
  color: #dfcf77;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
  font-size: 20px;
  transition: font-weight;
}

.catalog__genres-link::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 1px;
  bottom: 0;
  background: #d9cd8d;
  display: none;
}

.catalog__genres-link:hover::after {
  display: block;
}
/* stylelint-enable */

.catalog__movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 60px;
}

.catalog__movies-list:last-child {
  margin-bottom: 0;
}

.catalog__movies-card {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  margin-bottom: 55px;
}

.catalog__movies-card:nth-child(4n) {
  margin-right: 0;
}

.catalog__movies-card:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.catalog__button {
  @include school;

  display: block;
  width: 100%;
  padding: 29px 40px;
  background: none;
  border: 1px solid rgba(217, 202, 116, 0.2);
  border-radius: 8px;
  transition: border-color 0.2s;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #d9ca74;
  cursor: pointer;
}

.catalog__button:hover {
  border-color: rgba(217, 202, 116, 0.5);
}

@media (max-width: $mobile-width) {
  .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog__genres-list {
    justify-content: flex-start;
  }

  .movies-list__select {
    margin-bottom: 30px;
  }
}

@media (max-width: $small-mobile-width) {
  .catalog__movies-list {
    display: grid;
    max-width: 320px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .catalog__movies-card {
    width: auto;
    margin: 0;
  }
}
